node_modules/
.env
*.log
.DS_Store
.wwebjs_auth/
.wwebjs_cache/
sessions/
output/
*.json
!package.json
!package-lock.json

whatsapp-scroll-numbers.txt
whatsapp-scroll-numbers.csv
whatsapp-scroll-numbers.json

/output/
